<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{hh:mm:ss.SSS} %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log.txt</file>
        <append>false</append>
        <encoder>
            <pattern>%-4relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOGASPECT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{hh:mm:ss.SSS} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="ru.teamtwo.api.LoggingAspect" level="TRACE" additivity="false">
        <appender-ref ref="LOGASPECT" />
    </logger>

</configuration>